# Core
torch
torchvision
torchaudio
numpy

# Pixel RL 3D Builder
diffusers
transformers
accelerate
gymnasium
stable-baselines3
SpeechRecognition
pillow
napari[all]
pyqt5
opencv-python
huggingface_hub
scikit-image
trimesh

# Atari Breakout RL (Part 1)
tyro
tensorboard
cleanrl
gymnasium[atari]
gymnasium[accept-rom-license]
ale-py
shimmy
